[submodule "token/lib/forge-std"]
	path = token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "token/lib/v2-core"]
	path = token/lib/v2-core
	url = https://github.com/Uniswap/v2-core
